body{
    margin:0;
    
    align-items: center; 
    justify-content: center;
   
}
#nav-bar{
    display:flex;
    flex:1;
    justify-content: flex-end;
    height: 7vh;
}
#nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#nav-bar nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#nav-bar li{
    margin: 0 15px;
}
#nav-bar a{
    text-decoration: none;
}

#first-section{
    display: flex;
    flex-direction: column;
    /* flex:1;
    padding: 150px;
    flex-direction: column;
    text-align: center; */
    height:225px;
    width: 100%;
    bottom:0;
    /* background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%); */
    background-size: cover;
    /* background-image: url(./img/bg-wave2.png); */
    /* background-image: url(./img/BG.png); */
}
.spacer{
    aspect-ratio: 960/300;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer{
    background-image: url(./img/BG.png);
}
#first-section{
    display: flex;
    flex-direction: column;
    text-align: center;

    /* height:50vh;
    width:50vh; */
}

#second-section{
    display: flex;
}

/* section{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;

    min-height: 100px 20vh;
} */