body{
    margin:0;
    padding: 0;
    /* display: flex; */
    align-items: center; 
    justify-content: center; 
   
}
#nav-bar{
    display:flex;
    /* flex:1; */
    justify-content: center;
    height: 7vh; 
}
#nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#nav-bar nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#nav-bar li{
    margin: 0 15px;
 
}
#nav-bar a{
    color: #005557;
    text-decoration: none;
    font-size: 20px;
}
/* #first-wave{
    
    display: flex;
    flex-direction:  column;
    text-align: center;
    height: 100vh;
    font-size: larger;
} */
.spacer{
    aspect-ratio: 960/300;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top ;
    background-size: cover;
    text-align: center;
    background-image: url(./img/BG.png);
    margin-bottom: 10%;
    /* Add a smooth transition for max-width */
    transition: max-width 0.5s ease; 
}

.layer{
    background-image: url(./img/layered-waves-haikei.svg);
    
}
/* .layer{
    background-image: url(./img/layered-waves.svg);
    background-position: center top; 
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 60vh;
    font-size: larger;
} */

.new-wave{
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

/* .new-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 180px;
} */

.new-wave.shape-fill {
    fill: #4319db;
}



.container{
    font-size: 5rem;
    text-align: center;
    justify-content: center;
    margin: 15%;
    color: #005557;
    font-weight:900;
    /* Add a smooth transition for max-width */
    transition: max-width 0.5s ease; 
    font-family: berlin sans system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.organs-categories{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    max-height: 40vh;
    
}
#first-row{
    display: flex;  
    flex-direction: row;
    margin: 20px;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

#second-row{
    display: flex; 
    flex-direction: row;
    margin: 20px;
    gap: 10px;
    justify-content: center;
    width: 100%;
    text-align: center;
    
}

button{
    display: flex;
    border: none;
    background-color: #9DCC42;
    border-radius: 5px;
    width: 88%;
    height: 30%;
    font-weight: bold;
    color: #005557;
    padding: 10px;
    text-align: center;
    justify-content: center;
    /* background: linear-gradient(to right, rgba(3, 109, 107, 0.5), #9DCC42); */
}
#light-brown{
    background-color: #F8DF9F;
}

#light-purple{
    background-color: #DBCAD8;
}

#light-color{
    background-color: #10B6B4;
}

#yellow{
    background-color: #FFE459;
}

#light-red{
    background-color: #F89F9F;
}

#light-green{
    background-color: #B1F89F;
}

.card-container{
    flex:1;
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.card-container a{
    text-decoration: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.wave-fromGetWave{
    aspect-ratio: 960/300;
    display: flex;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: blanchedalmond;
    text-align: center;
    height: 60vh;
    margin-top:0;
    padding: 0;
    background-image: url(./img/wave.svg);
}

.wave-below{
    aspect-ratio: 960/300;
    display: flex;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: blanchedalmond;
    text-align: center;
    height: 60vh;
    margin-top:0;
    padding: 0;
    background-image: url(./img/wave-below.svg);
}
.wave-up{
    text-align: center;
    height: 60vh;
    margin-top:0;
    padding: 0;
    background-image: url(./img/layered-bg.svg);
}


@media only screen and (max-width: 600px) {
    #nav-bar a{
        color: #005557;
        text-decoration: none;
        font-size: 10px;
    }
    .organs-categories {
        width: 80%; 
        margin: 0 auto; 
        max-height: 40vh; 
    }
    .spacer{
        aspect-ratio: 960/300;
        display: flex;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        text-align: center;
        height: 100%;
        background-image: url(./img/BG.png);
    
    }

    .card-container {
        flex-direction: column; /* Change to a column layout on small screens */

    }

    /* button {
        flex: none; /* Remove the flex property to allow buttons to take full width */
        /* width: 100%; Make buttons take full width on small screens */
   
    #first-row{
        flex-direction: column;
        margin: 20px;
        gap: 10px;
        justify-content: center;
        text-align: center;
        height:150%;
        width: 36vh;
    }

    #second-row{
        flex-direction: column;
        margin: 20px;
        gap: 10px;
        justify-content: center;
        text-align: center;
        justify-content: center;
        height:150%;
        width: 36vh;
    }
    .container{
        font-size: 2rem;
        text-align: center;
        margin: 15%;
    }
}